
.app-header {
    background-color: #263238;
    height: 54px;
    
}
.app-logo {
    color: #fff;
    font-size: 18px;
    
}
.avatar {
    margin-left: auto;
}

h6.MuiTypography-root-48.MuiTypography-h6-65.MuiTypography-noWrap-74.color {
    color: #fff;
    font-size: 18px;
}